<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Digital DT</title>
</head>
<body>

    <h2 style="text-align: center">The current date and time is {{ current_time }}</h2>
   <br>
    <div class="container-fluid text-center">
        <!-- Center the image -->
        <img src="https://icons.veryicon.com/png/o/business/time-management/calendar-337.png" alt="Logo" width="200" height="200" class="mx-auto d-block">
    </div>

</body>
</html>

