/* Common styles for both pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Styles for the home page */
form {
    text-align: center;
    
    
}

input[type="text"] {
    width: 10%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for the result page */
p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    margin-top: 20px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
